{% extends "layout.html" %}
{% block body %}
	<h1>Public Ratings</h1>
	<h5>The following users graciously released their (albeit incorrect) ratings as recommendations:</h5>
	<table class = "table sortable" id="sortabletable">
	<tr class = "table_header">
		<td>User ID</td>
		<td>Age</td>
		<td>Number of ratings</td>
	</tr>
	{% for user in users %}
	<tr>
		<td><a href = "view_user/{{user.id}}">{{ user.id }}</a></td>
		<td>{{ user.age }}</td>
		<td>{{ user.ratings|length }}</td>
	</tr>
	{% endfor %}
<!-- <h2>There are {{ users|length }} users.</h2> -->
	<script type="text/javascript" src="/static/js/sortable.js"></script>
{% endblock %}