<!DOCTYPE html>
<html>
    <head>
        <title>Tipsy</title>
        <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">
    </head>
    <body>
        <div class="container">
            <h1>Task {{ task['id'] }} &mdash; {% if task['completed_at'] %}<span class="status">Completed</span>{% endif %}</h1>
            <h2>{{ task['title'] }}</h2>
            <form action="/task/{{task['id']}}" method="POST">
                <input type="submit" value="Complete Task">
            </form>
        </div>
    </body>
</html>
